@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h3>Add a Tag to this Recipe: @Html.DisplayFor(model => model.Title)</h3>
<hr>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.HiddenFor(model => model.RecipeId)

    <h4>@Html.Label("Select Tag")</h4>
    @Html.DropDownList("TagId", null, new { @class = "form-control"})
    <br>
    <input type="submit" value="Save" class = "btn btn-light ButtonText"/>
  </div>
}

<p class = "btn btn-light">@Html.ActionLink("Back to list", "Index", null, null, new {@class = "ButtonText"})</p>